<div class="blog-secondary-container home-secondary-container">
  <div class="app-container-fluid home-logo-container">
  
  </div>
  <div class="app-container-fluid home-tag-container">
    <app-blog-tag [tagContent]="'home'" [tagLink]="'/'" [selected]="undefined==selectedTagId">所有</app-blog-tag>
    <app-blog-tag *ngFor="let blogTag of blogTags"
                  [tagLink]="'/tag/'+blogTag.tagId"
                  [tagContent]="blogTag.tagContent"
                  [tagCount]="blogTag.tagCount"
                  [selected]="blogTag.tagId==selectedTagId"></app-blog-tag>
  </div>
</div>
<div class="blog-main-container">
  <masonry [options]="{columnWidth:320, fitWidth: true}" class="app-container-fluid home-post-container">
    <app-blog-remark *ngFor="let blogRemark of blogRemarks"
                     [postId]="blogRemark.postId"
                     [title]="blogRemark.title"
                     [info]="blogRemark.info"
                     [infoImg]="blogRemark.infoImg"
                     [tags]="blogRemark.tags"
                     [postDate]="blogRemark.postDate"
                     masonry-brick></app-blog-remark>
  </masonry>
</div>