<div class="remark-root">
  <a routerLink="/post/{{postId}}">
    <div class="remark-img" *ngIf="infoImg !== undefined">
      <img src="{{infoImg}}" alt="{{title}}">
    </div>
    <div class="remark-title">{{title}}</div>
    <div class="remark-info">
      <p>{{info}}</p>
    </div>
  </a>
  <footer>
    <div class="remark-tag">
      <strong>tags</strong>
      <a *ngFor="let tag of tags">{{tag}}</a>
    </div>
    <div class="remark-date">
      {{postDate | date:'yMMMMd'}}
    </div>
  </footer>
</div>
