<li>
  <a *ngIf="item.url && !item.children" (click)="doClickItem($event.currentTarget)" [routerLink]="item.url" [ngClass]="{'selected':item.selected}" class="block-link">
    <i *ngIf="item.icon" class="{{item.icon}}"></i>
    <span>{{item.title}}</span>
  </a>
  <a *ngIf="!item.url && item.children" (click)="doClickItem($event.currentTarget)" [ngClass]="{'selected':item.selected}" class="block-link">
    <i *ngIf="item.icon" class="{{item.icon}}"></i>
    <span>{{item.title}}</span>
    <b class="fa pull-right" [ngClass]="{'fa-angle-up':expand, 'fa-angle-down':!expand}"></b>
  </a>
</li>
<ul *ngIf="item.children" class="child-container">
  <app-menu-item
    *ngFor="let child of item.children"
    [item]="child"
    (selecteMenu)="selecteMenu.emit(child)">
  </app-menu-item>
</ul>
