<div>
  <head class="post-header">
    <div class="post-title"><h1>{{blogDetail.title}}</h1></div>
    <div class="post-date">发布时间: {{blogDetail.postDate | date:'yMMMMd'}}</div>
  </head>
  <article class="post-body">
    <div class="app-container">
      <div class="post-detail">
        <div class="post-content">
        </div>
      </div>
    </div>
  </article>
  <section class="comment-container">
    <div class="app-container edit-container">
      <div class="logo">
        <div>留言板</div>
      </div>
      <div class="edit-area">
        <div class="edit-out-border">
          <div class="edit-inner-border">
            <textarea></textarea>
          </div>
        </div>
      </div>
      <div class="edit-submit">
        <button type="button" class="pull-right" (onclick)="doSubmitComment()">提交</button>
      </div>
    </div>
    <div class="app-container comment-list">
      <div class="comment-item" *ngFor="let comment of blogComments">
        <div class="logo">
        </div>
        <div class="content">
          <div>{{comment.author}}:</div>
          <div>{{comment.content}}</div>
          <footer>
            <div class="comment-item-date">{{comment.postDate | date:'yMMMMd'}}</div>
            <a href="/">回复</a>
          </footer>
        </div>
      
      </div>
    </div>
  </section>
</div>