<div class="blog-main-container">
  <div class="post-header">
    <div class="post-title"><h1>{{blogDetail.title}}</h1></div>
    <div class="post-date">发布时间: {{blogDetail.postDate | date:'yMMMMd'}}</div>
  </div>
  <div class="post-body">
    <div class="app-container-fluid">
      <div>
        <pre [innerHtml]="blogDetail.content"></pre>
      </div>
    </div>
  </div>
  <div class="post-comment">
    <div class="comment-edit app-container-fluid">
      <div>
        <div class="comment-edit-logo">
          <div>留言板</div>
        </div>
        <div class="comment-edit-area">
          <div class="post-detail-virtual-out-border">
            <div class="post-detail-virtual-inner-border">
              <textarea></textarea></div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-list app-container-fluid">
      <div>
        <div class="comment-item" *ngFor="let comment of blogComments">
          <div class="comment-item-logo">
          </div>
          <div class="comment-item-content">
            <div>{{comment.author}}:</div>
            <div>{{comment.content}}</div>
            <footer>
              <div class="comment-item-date">{{comment.postDate | date:'yMMMMd'}}</div>
              <a href="/">回复</a>
            </footer>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>