/* You can add global styles to this file, and also import other style files */

body {
  font-family: "PingFang SC","Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;
  -webkit-font-smoothing: antialiased;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.app-container {
  position: relative;
  min-height: 800px;
  height: auto;
}

.app-footer {
  position: relative;
  min-height: 80px;
  height: auto;
  text-align: center;
  background: #767524;
}

.blog-header{
  position: relative;
  background: #FFFFFF;
}
.blog-secondary-container{
  position: relative;
  min-height: 80px;
  height: auto;
  background: #FFFFFF;
}
.blog-main-container {
  position: relative;
  min-height: 800px;
  height: auto;
  background: #AAAAAA;
}

.app-container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-left: 40px;
}

@media (min-width: 576px) {
  .app-container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .app-container-fluid {
    padding-right: 80px;
    padding-left: 80px;
  }
}

@media (min-width: 992px) {
  .app-container-fluid {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (min-width: 1200px) {
  .app-container-fluid {
    padding-right: 150px;
    padding-left: 150px;
  }
}